footer.footer
    .row-max
        .footer__container
            nav.footer__nav
                ul
                    li
                        span Designer 
                            a(href='http://bryanrodriguez.xyz'  target="_blank") B. Rodriguez
                            
                    div.footer__icons
                    
                    li
                        a(href='#') 
                            i.icon.ion-logo-facebook
                    li
                        a(href='#')
                            i.icon.ion-logo-instagram
                    li
                        a(href='#')
                            i.icon.ion-logo-whatsapp
                    li
                        a(href='#') 
                            i.icon.ion-md-mail

            div JewleryEcommerce &copy; 2020