p Hola #{firstName} !

p #{subject}

p ¿Olvidaste tu contraseña? Si es así, puedes cambiarla haciendo click en el siguiente
    span 
        a(href=`${url}`) link
p De no se así, simplemente ignora este correo.

