p Hola #{firstName} !

p #{subject}

p Tu registro ha sido completado, ahora puedes continuar con tus compras.
p Puedes acceder a la información de tu cuenta desde el siguiente
    span 
        a(href=`${url}`) link