extends ./../base

block content
    main.main
        .row.row-max
            .col.span-1-of-4
            .col.span-2-of-4
                form.form.form__signup--js
                    h2.main__h2 Crear nueva cuenta
                    .form__group
                        label.form__label(for='name') Nomber:
                        input#name.form__input(type='text', placeholder='Jotaro Joestar', required)
                    .form__group
                        label.form__label(for='email') Email:
                        input#email.form__input(type='email', placeholder='you@example.com', required)
                    .form__group.ma-bt-md
                        label.form__label(for='password') Password:
                        input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                    .form__group.ma-bt-md
                        label.form__label(for='passwordConfirm') Confirmar Password:
                        input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                    .user-msg__container
                    div.center-text
                        button.btn.btn--gray Registrar
                        